.find {
  margin-top: 50px;
}

.find .header-btn {
  display: flex;

  justify-content: center;
  align-items: center;
}
.find__btn-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-btn__title {
  display: block;
}

.find .find__recommended {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #f7f7f7;
}

.find .find__title {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.recommend-friend__column {
  display: flex;
  justify-content: space-between;
}
.friend__add-btn-body {
  display: flex;
}
.recommend-friend__name {
  display: flex;
}
